certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.28
django-cors-headers==3.0.2
django-extensions==2.1.9
django-heroku==0.3.1
django-rest-passwordreset==1.0.0
djangorestframework==3.9.4
drf-extensions==0.5.0
gunicorn==19.9.0
httpie==1.0.2
idna==2.8
Pillow==6.0.0
psycopg2==2.8.2
Pygments==2.7.4
PyJWT==1.7.1
python-decouple==3.1
pytz==2019.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
whitenoise==4.1.2

